body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	background-color: #d6d6c2;
	color: #000033;
}

h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #d9d9d9;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000
}

#head-nav {
	background-color: #f5f5ef;
	border-radius: 0;
    border: 0;
}

.navbar-header button.navbar-toggle {
	border: 1px solid #61122f;
	margin-top: 25px;
}

#nav-list a {
	font-size: 1.3em;
	color: #4d4d4d;
	margin-top: 15px;
	text-align: center;
}

#nav-list a:hover {
  background: #8c8c8c;
}

#states, #cases {
	border: 3px solid black;
}

#cases svg, #cases span {
	font-size: 0.6em;
	color: #ff3333;
}